<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="isPlatform('ios') ? t('back'): undefined" />
    </ion-buttons>
    <ion-title>{{ t("settings") }}</ion-title>
  </ion-toolbar>
  <app-connectivity-error />
</ion-header>

<ion-content *transloco="let t">
  <div class="flex flex-col justify-between">
    <div>
      <ion-card class="m-5">
        <ion-card-header>
          <ion-card-title>{{ t("language") }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="py-2">
            {{ t("languageDescription") }}
          </span>
          <ion-radio-group *ngIf="allLanguagesAvailable.length"
                           [value]="defaultLanguage">
            <div *ngFor="let language of allLanguagesAvailable;" (click)="setLanguage(language)"
                 class="flex flex-row justify-between w-full dark:text-white text-black py-1">
              <span class="text-xl ">{{ t('languageKeys.' + language) }}</span>
              <ion-radio [value]="language" class=""
                         labelPlacement="start">
              </ion-radio>
            </div>
          </ion-radio-group>
        </ion-card-content>
      </ion-card>
      <ion-card class="m-5 {{muteSettingsLoading ? 'blur' : ''}}" *ngIf="Capacitor.isNativePlatform()">
        <ion-card-header>
          <ion-card-title>{{ t("mute") }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ t("muteDescription") }}
        </ion-card-content>
        <ion-item class="!bg-transparent">
          <ion-label>{{ t("mute") }}</ion-label>
          <ion-toggle [(ngModel)]="allowNotifications" (ionChange)="setMuteSettings($event)" [disabled]="muteSettingsLoading"></ion-toggle>
        </ion-item>
      </ion-card>
    </div>
    <button (click)="logout()"
            class="absolute bottom-4 left-0 p-3 mx-5 button-native rounded-xl red-bg right-0 text-white">
      {{ t("logout") }}
    </button>
  </div>
</ion-content>
