.bouncing-loader {
  display: flex;
  justify-content: center;
  padding: 1em;
  div {
    width: 16px;
    height: 16px;
    margin: 3px 6px;
    border-radius: 50%;
    background-color: #F2AE1D;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;
  }

  :nth-child(2) {
    background-color: #1D559C;
    animation-delay: 0.2s;
  }

  :nth-child(3) {
    background-color: #ED1C24;
    animation-delay: 0.4s;
  }
}


@keyframes bouncing-loader {
  to {
    opacity: 0.5;
    transform: translateY(-16px);
  }
}

