.round {
  border-radius: 100%;
}

.abc-border-image {
  background-image: url("../../../assets/images/border.png");
  background-size: contain;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.abc-profile-image {
  object-fit: cover;
}

ion-header {
  box-shadow: 0 2px 1px rgba(136, 136, 136, 0.24), 0 -2px 1px rgba(136, 136, 136, 0.24);
  height: 3.5rem;
}