<ion-list class="bg-transparent" lines="none">
  <div *ngFor="let experience of experiences" class="py-4 px-2 bg-transparent ">
    <div class="flex flex-row w-full justify-between align-middle" id="modal-{{experience.experienceId}}">
      <div class="flex flex-col w-full">
        <h2>{{ experience.role.name }} &#64; {{ experience.companyName }}</h2>
        <p class="dark:text-gray-500 text-gray-700">{{ experience.startDate }} - {{ experience.endDate }}</p>
      </div>
      <fa-icon *ngIf="experience.description" [icon]="faCircleInfo" class="my-auto" />
    </div>
    <ion-modal *ngIf="experience.description" [breakpoints]="[0, 0.3, 0.5, 0.75, 0.99]" initial-breakpoint="0.3"
               trigger="modal-{{experience.experienceId}}">
      <ng-template>
        <ion-content>
          <div class="pt-6 pb-4 px-4">
            {{ experience.description }}
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-list>
